receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317

exporters:
  awsxray:
    region: eu-west-2

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [awsxray]
