receivers:
  otlp:
    protocols:
      grpc:
        endpoint: ${OTEL_ENDPOINT}

exporters:
  awsxray:
    region: ${AWS_REGION}

processors:
  probabilistic_sampler:
    hash_seed: 22
    sampling_percentage: ${OTEL_SAMPLING_PERCENTAGE}

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [probabilistic_sampler]
      exporters: [awsxray]
