extensions:
  health_check:
    endpoint: 0.0.0.0:13133

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: otel-collector:4317

exporters:
  awsxray:
    region: eu-west-2

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [awsxray]
