name: Dev Deploy

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      version: ${{ github.sha }}
      environment: dev

  dev:
    uses: ./.github/workflows/deploy.yml
    needs: build
    with:
      environment: dev
      infra_version: ${{ github.sha }}
      app_responder_image_uri: ${{ needs.build.outputs.app_responder_image_uri }}
      app_caller_image_uri: ${{ needs.build.outputs.app_caller_image_uri }}
      consumer_image_uri: ${{ needs.build.outputs.consumer_image_uri }}
      aws_otel_collector_image_uri: ${{ needs.build.outputs.aws_otel_collector_image_uri }}
      debug_image_uri: ${{ needs.build.outputs.debug_image_uri }}
